@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

ul {
  list-style: none; }

header {
  background-color: black; }

main {
  background-color: rgba(255, 255, 0, 0.881); }

footer {
  background-color: black; }

h2,
h3 {
  font-style: "Bebas Neue", cursive;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #de2b1b;
  font-size: 40px; }

section p {
  background-color: #de2b1b; }

.grid-galeria {
  grid-template-columns: 1fr; }
  .grid-galeria .grid-items {
    grid-template-columns: 1fr; }
    .grid-galeria .grid-items .grid-items {
      grid-column: span 1;
      grid-row: span 1; }
      .grid-galeria .grid-items .grid-items h3 {
        font-size: 20px; }

header {
  background-color: black;
  top: 0px;
  border: #de2b1b 2px solid;
  display: flex;
  flex-direction: space-between;
  align-items: center;
  margin-bottom: 25px;
  position: sticky;
  z-index: 10; }
  header h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px; }
    header h1 a {
      font-style: "Bebas Neue", cursive;
      font-weight: 900;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #de2b1b;
      text-decoration: none;
      font-size: 50px; }
      header h1 a:hover {
        color: yellow; }
  header .navbar .container-fluid .navbar-brand {
    color: #c34a36; }
  header .navbar .container-fluid .navbar-toggler .navbar-togller-icon {
    background-color: #de2b1b; }
  header .navbar .collapse .navbar-nav .nav-item .nav-link {
    color: #c34a36; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #de2b1b 2px solid; }
  .hero h2 {
    border: #de2b1b 4px solid;
    padding: 25px;
    font-size: 60px;
    margin: 25px;
    text-align: center; }
  .hero img {
    width: 80%;
    border: solid 2px;
    margin: 10px;
    box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75); }
  .hero p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    border: #483c3b 2px solid; }

.hero-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .hero-1 h2 {
    padding: 15px;
    font-size: 55px;
    text-align: center; }
  .hero-1 h3 {
    font-size: 40px;
    padding: 10px;
    text-align: center; }
  .hero-1 iframe {
    width: 80%;
    border: #483c3b solid 2px;
    box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75); }

.formularios {
  text-align: center; }
  .formularios form div label {
    color: #de2b1b;
    font-size: 25px; }
  .formularios form div input {
    color: #de2b1b;
    border: #483c3b 2px solid;
    background-color: #483c3b; }
  .formularios textarea {
    border: #483c3b solid 2px;
    background-color: floralwhite;
    font-weight: 900; }
  .formularios div input {
    border: #483c3b solid 2px;
    background-color: floralwhite;
    font-weight: 900; }
  .formularios div input {
    border: #483c3b solid 2px;
    background-color: floralwhite;
    font-weight: 900; }

p {
  color: black;
  font-size: 30px; }

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .ubicacion h2 {
    text-align: center;
    background-color: #483c3b;
    border: #483c3b 2px solid; }
  .ubicacion iframe {
    width: 80%;
    box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
    -webkit-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75); }

.logo {
  position: fixed;
  right: 50%;
  bottom: 50px; }
  .logo a img {
    height: 50px;
    width: 50px; }

.menu-2 h2 {
  text-align: center; }

.menu-2 nav ul {
  list-style: none;
  text-align: center;
  border: #de2b1b solid 2px;
  background-color: #483c3b; }
  .menu-2 nav ul li a {
    font-size: large;
    color: #de2b1b;
    text-decoration: none; }
    .menu-2 nav ul li a:hover {
      color: yellow; }

.menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .menu .menu-img {
    height: 100%;
    width: 400px;
    border: 1px solid;
    background-color: #483c3b;
    text-align: center;
    margin: 5px; }
    .menu .menu-img img {
      height: 300px;
      width: 300px; }

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
  -webkit-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75); }
  .promo h2 {
    font-size: 60px; }
  .promo div {
    margin: 20px;
    width: 100%;
    height: 100%;
    border: 1px black solid;
    text-align: center; }
    .promo div img {
      object-fit: cover;
      width: 50%;
      height: 50%; }
    .promo div h3 {
      margin: 10px; }
    .promo div a .boton {
      transition: 1s;
      color: #de2b1b;
      background-color: #483c3b;
      padding: 5px 5px 5px 5px; }
      .promo div a .boton:hover {
        color: yellow;
        background-color: #de2b1b; }

.promociones {
  text-align: center;
  margin: 30px;
  font-size: 60px; }

.grid-galeria {
  border: #483c3b 2px solid;
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 20px; }
  .grid-galeria .grid-items {
    position: relative; }
    .grid-galeria .grid-items img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
      -webkit-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75);
      -moz-caja-sombra: 10px 10px 20px -6px rgba(0, 0, 0, 0.75); }
    .grid-galeria .grid-items h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #483c3bd2;
      color: #de2b1b;
      text-align: center; }
  .grid-galeria .cuarto-item {
    grid-column: span 2; }
  .grid-galeria .sexto-item {
    grid-row: span 2; }
  .grid-galeria .septimo-item {
    grid-column: span 2; }

.contenedor h2 {
  text-align: center;
  background-color: #483c3b;
  padding: 10px; }

.contenedor .contenedor-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px; }
  .contenedor .contenedor-div .contenedor-div-1 {
    width: 400px;
    height: 430px;
    border: 1px black solid;
    background-color: #483c3b;
    text-align: center;
    margin-bottom: 20px;
    transition: 1s; }
    .contenedor .contenedor-div .contenedor-div-1 img {
      width: 100%;
      height: 300px; }
    .contenedor .contenedor-div .contenedor-div-1 h3 {
      margin: 10px; }
    .contenedor .contenedor-div .contenedor-div-1 a .boton {
      transition: 1s;
      color: #de2b1b;
      background-color: #282828;
      padding: 5px 5px 5px 5px; }
      .contenedor .contenedor-div .contenedor-div-1 a .boton :hover {
        color: yellow;
        background-color: #de2b1b; }

.antesdetallar .detallar {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .antesdetallar .detallar .detallar-1 img {
    width: 250px;
    height: 250px; }
  .antesdetallar .detallar .detallar-2 {
    margin-top: 10px; }
    .antesdetallar .detallar .detallar-2 h3 a {
      color: #de2b1b;
      text-decoration: none; }
      .antesdetallar .detallar .detallar-2 h3 a:hover {
        color: yellow; }
  .antesdetallar .detallar .detallar-3 ul {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    height: 100%; }
    .antesdetallar .detallar .detallar-3 ul li {
      margin: 15px; }
      .antesdetallar .detallar .detallar-3 ul li ahover {
        color: yellow; }
  .antesdetallar .detallar .detallar-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .antesdetallar .detallar .detallar-4 div {
      display: flex;
      justify-content: center; }
      .antesdetallar .detallar .detallar-4 div h3 {
        margin-right: 20px;
        margin-top: 10px; }
        .antesdetallar .detallar .detallar-4 div h3:hover {
          color: yellow; }
  .antesdetallar .detallar div a img {
    margin: 15px; }
  .antesdetallar .detallar div a img {
    margin: 15px; }

.antesdetallar section ul {
  list-style: none;
  font-size: 20px; }
  .antesdetallar section ul li a {
    text-decoration: none;
    color: #c34a36;
    font-size: 20px; }
    .antesdetallar section ul li a:hover {
      color: yellow; }

@media screen and (max-width: 1370px) {
  .logo {
    position: fixed;
    right: 10%;
    bottom: 44px; }
  .antesdetallar .detallar {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    flex-direction: column;
    text-align: center; }
    .antesdetallar .detallar .detallar-3 ul {
      display: flex;
      justify-content: center; }
      .antesdetallar .detallar .detallar-3 ul li a {
        margin: 15px; } }

@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    position: static; }
  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px; } }

@media screen and (max-width: 1000px) {
  .hero p {
    font-size: 30px; }
  .promociones {
    text-align: center;
    margin: 20px;
    font-size: 40px; }
  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px; }
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px; }
    .grid-galeria .grid-items {
      grid-column: span 1;
      grid-row: span 1; }
    .grid-galeria .noveno-item {
      grid-column: span 2; } }

@media screen and (max-width: 790px) {
  header nav ul {
    flex-direction: column;
    text-align: center; }
  header nav ul li {
    margin: 0; }
  .hero h2 {
    font-size: 30px; }
  .hero-1 h2 {
    padding: 5px;
    font-size: 40px; }
    .hero-1 h2 .hero-1 h3 {
      font-size: 30px; }
  .formularios form div label {
    color: #de2b1b;
    font-size: 20px; }
    .formularios form div label .imput textarea {
      border: #483c3b solid 2px;
      background-color: floralwhite;
      font-weight: 300; }
  .formularios p {
    color: black;
    font-size: 25px; }
  .contenedor h2 {
    font-size: 30px; }
    .contenedor h2 .contenedor-div-1 {
      width: 90%;
      height: auto;
      border: 1px black solid;
      background-color: #483c3b;
      text-align: center;
      margin-bottom: 10px;
      transition: 1s; }
  .ubicacion h2 {
    text-align: center; }
    .ubicacion h2 .ubicacion iframe {
      width: 90%;
      border: #de2b1b 2px solid; }
  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px; }
  .antesdetallar .detallar .detallar-2 h3 a {
    font-size: 30px;
    margin: 10px; }
  .antesdetallar .detallar .detallar-3 ul {
    margin: 10px; }
    .antesdetallar .detallar .detallar-3 ul li {
      margin: 0px; }
      .antesdetallar .detallar .detallar-3 ul li a {
        font-size: 20px;
        margin: 5px; }
  .antesdetallar .detallar .detallar-4 div h3 {
    font-size: 30px;
    margin: 10px; } }

@media screen and (max-width: 490px) {
  .hero h2 {
    font-size: 20px; }
  .hero p {
    font-size: 15px; }
  .hero-1 h2 {
    font-size: 20px; }
  .hero-1 h3 {
    font-size: 15px; }
  .formularios h2 {
    font-size: 30px; }
  .formularios form h3 {
    font-size: 30px; }
  .formularios form .imput {
    position: fixed;
    right: 10%;
    bottom: 45px; }
  .formularios p {
    display: none; }
  .ubicacion h2 {
    font-size: 30px; }
  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px; } }

.promo h2 {
  font-size: 30px; }

.promo div {
  width: 90%;
  height: 200px border 1px black solid;
  text-align: center;
  background-color: #483c3b;
  font-size: 20px; }
  .promo div h3 {
    font-size: 30px; }
  .promo div a .boton {
    color: #de2b1b;
    background-color: #483c3b;
    padding: 0; }

.promo .promociones {
  display: none; }

.promo .promociones-1 {
  font-size: 23px;
  text-align: center;
  margin-top: 10px;
  background-color: #483c3b; }

.promo .grid-galeria {
  grid-template-columns: 1fr; }
  .promo .grid-galeria .grid-items {
    grid-column: span 1;
    grid-row: span 1; }
    .promo .grid-galeria .grid-items h3 {
      font-size: 20px; }

.contenedor h2 {
  font-size: 25px; }

.contenedor h3 {
  font-size: 25px; }

.contenedor .contenedor-div-1 a {
  font-size: 15px;
  padding: 0; }

header h1 a {
  font-size: 35px; }

.antesdetallar .detallar .detallar-2 h3 a {
  font-size: 30px; }

.antesdetallar .detallar .detallar-3 ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 35px; }
  .antesdetallar .detallar .detallar-3 ul li {
    margin: 0; }

.antesdetallar .detallar .detallar-4 div h3 {
  font-size: 30px;
  margin: 0; }

@media screen and (min-width: 460px) {
  .promociones-1 {
    display: none; } }
