.antesdetallar {
  .detallar {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .detallar-1 {
      img {
        width: 250px;
        height: 250px;
      }
    }
    .detallar-2 {
      margin-top: 10px;
      h3 {
        a {
          color: #de2b1b;
          text-decoration: none;
          &:hover {
            color: yellow;
          }
        }
      }
    }
    .detallar-3 {
      ul {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        li {
          margin: 15px;
          a {
            &hover {
              color: yellow;
            }
          }
        }
      }
    }
    .detallar-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        display: flex;
        justify-content: center;
        h3 {
          margin-right: 20px;
          margin-top: 10px;
          &:hover {
            color: yellow;
          }
        }
      }
    }
    div {
      a {
        img {
          margin: 15px;
        }
      }
      a {
        img {
          margin: 15px;
        }
      }
    }
  }
}
.antesdetallar {
  section {
    ul {
      list-style: none;
      font-size: 20px;
      li {
        a {
          text-decoration: none;
          color: #c34a36;
          font-size: 20px;
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
}
