header {
  background-color: black;
  top: 0px;
  border: $color-2 2px solid;
  @include flex-2(flex, space-between, center);
  margin-bottom: 25px;
  position: sticky;
  z-index: 10;
  h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px;
    a {
      font-style: "Bebas Neue", cursive;
      font-weight: 900;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: $color-2;
      text-decoration: none;
      font-size: 50px;
      &:hover {
        color: $color-1;
      }
    }
  }
  .navbar {
    .container-fluid {
      .navbar-brand {
        color: $color-3;
      }
      .navbar-toggler {
        .navbar-togller-icon {
          background-color: $color-2;
        }
      }
    }
    .collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $color-3;
          }
        }
      }
    }
  }
}
