@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  background-color: black;
}

main {
  background-color: rgba(255, 255, 0, 0.881);
}
footer {
  background-color: black;
}

h2,
h3 {
  font-style: "Bebas Neue", cursive;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #de2b1b;
  font-size: 40px;
}

section p {
  background-color: #de2b1b;
}
.grid-galeria {
  grid-template-columns: 1fr;
  .grid-items {
    grid-template-columns: 1fr;
    .grid-items {
      grid-column: span 1;
      grid-row: span 1;
      h3 {
        font-size: 20px;
      }
    }
  }
}
