@media screen and (max-width: 1370px) {
  .logo {
    position: fixed;
    right: 10%;
    bottom: 44px;
  }

  .antesdetallar {
    .detallar {
      width: 100%;
      height: 100%;
      border: 2px solid black;
      flex-direction: column;
      text-align: center;

      .detallar-3 {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            a {
              margin: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    position: static;
  }

  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .hero p {
    font-size: 30px;
  }

  .promociones {
    text-align: center;
    margin: 20px;
    font-size: 40px;
  }

  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px;
  }

  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px;

    .grid-items {
      grid-column: span 1;
      grid-row: span 1;
    }

    .noveno-item {
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 790px) {
  header nav ul {
    flex-direction: column;
    text-align: center;
  }

  header nav ul li {
    margin: 0;
  }

  .hero h2 {
    font-size: 30px;
  }

  .hero-1 h2 {
    padding: 5px;
    font-size: 40px;

    .hero-1 h3 {
      font-size: 30px;
    }
  }

  .formularios form div label {
    color: #de2b1b;
    font-size: 20px;

    .imput textarea {
      border: #483c3b solid 2px;
      background-color: floralwhite;
      font-weight: 300;
    }
  }

  .formularios p {
    color: black;
    font-size: 25px;
  }

  .contenedor h2 {
    font-size: 30px;

    .contenedor-div-1 {
      width: 90%;
      height: auto;
      border: 1px black solid;
      background-color: #483c3b;
      text-align: center;
      margin-bottom: 10px;
      transition: 1s;
    }
  }

  .ubicacion h2 {
    text-align: center;

    .ubicacion iframe {
      width: 90%;
      border: #de2b1b 2px solid;
    }
  }

  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px;
  }

  .antesdetallar {
    .detallar {
      .detallar-1 {
        img {
        }
      }

      .detallar-2 {
        h3 {
          a {
            font-size: 30px;
            margin: 10px;
          }
        }
      }

      .detallar-3 {
        ul {
          margin: 10px;

          li {
            margin: 0px;

            a {
              font-size: 20px;
              margin: 5px;
            }
          }
        }
      }

      .detallar-4 {
        div {
          h3 {
            font-size: 30px;
            margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .hero {
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .hero-1 {
    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 15px;
    }
  }

  .formularios {
    h2 {
      font-size: 30px;
    }

    form {
      h3 {
        font-size: 30px;
      }

      .imput {
        position: fixed;
        right: 10%;
        bottom: 45px;
      }
    }

    p {
      display: none;
    }
  }

  .ubicacion {
    h2 {
      font-size: 30px;
    }
  }

  .logo {
    position: fixed;
    right: 10%;
    bottom: 45px;
  }

  .promo {
    h2 {
      font-size: 30px;
    }

    div {
      width: 90%;
      height: 200px border 1px black solid;
      text-align: center;
      background-color: #483c3b;
      font-size: 20px;

      h3 {
        font-size: 30px;
      }

      a {
        .boton {
          color: #de2b1b;
          background-color: #483c3b;
          padding: 0;
        }
      }
    }
  }
  .promociones {
    display: none;
  }

  .promociones-1 {
    font-size: 23px;
    text-align: center;
    margin-top: 10px;
    background-color: #483c3b;
  }

  .grid-galeria {
    grid-template-columns: 1fr;

    .grid-items {
      grid-column: span 1;
      grid-row: span 1;

      h3 {
        font-size: 20px;
      }
    }
  }

  .contenedor {
    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 25px;
    }

    .contenedor-div-1 a {
      font-size: 15px;
      padding: 0;
    }
  }

  header h1 a {
    font-size: 35px;
  }

  .antesdetallar {
    .detallar {
      .detallar-1 {
        img {
        }
      }

      .detallar-2 {
        h3 {
          a {
            font-size: 30px;
          }
        }
      }

      .detallar-3 {
        ul {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-right: 35px;

          li {
            margin: 0;

            a {
            }
          }
        }
      }

      .detallar-4 {
        div {
          h3 {
            font-size: 30px;
            margin: 0;
          }
        }

        div {
          a {
            img {
            }
          }

          a {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 460px) {
  .promociones-1 {
    display: none;
  }
}
