// variables
$color-1: yellow;
$color-2: #de2b1b;
$color-3: #c34a36;
$color-4: #483c3b;
$color-6: rgba(255, 255, 0, 0.881);
$color-7: black;
$color-8: rgba(0, 0, 0, 0.75);
$color-9: floralwhite;

// extends
%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: black;
  top: 0px;
  border: #de2b1b 2px solid;
  margin-bottom: 25px;
  position: sticky;
  z-index: 10;
  @extend %flex;
}

@mixin flex($flex, $direction, $aling) {
  display: $flex;
  flex-direction: $direction;
  align-items: $aling;
}

@mixin flex-1($flex, $justify, $wrap) {
  display: $flex;
  justify-content: $justify;
  wrap: $wrap;
}
@mixin flex-2($flex, $justify, $aling) {
  display: $flex;
  justify-content: $justify;
  align-items: $aling;
}
