// variables
$color-1: yellow;
$color-2: #de2b1b;
$color-3: #c34a36;
$color-4: #483c3b;
$color-6: rgba(255, 255, 0, 0.881);
$color-7: black;
$color-8: rgba(0, 0, 0, 0.75);

// listas
$color: yellow, #de2b1b, #c34a36, #483c3b rgba(255, 255, 0, 0.881), black,
  rgba(0, 0, 0, 0.75);

$font-size: 12px, 16px, 20px, 30px;

// operaciones

// mapas
