// variables
$color-1: yellow;
$color-2: #de2b1b;
$color-3: #c34a36;
$color-4: #483c3b;
$color-6: rgba(255, 255, 0, 0.881);
$color-7: black;
$color-8: rgba(0, 0, 0, 0.75);
$color-9: floralwhite;

// listas
$font-size: 10px, 20px, 30px, 40px, 50px, 60px, 70px, 80px, 90px;

// extends
%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex($flex, $direction, $aling) {
  display: $flex;
  flex-direction: $direction;
  align-items: $aling;
}

@mixin flex-1($flex, $justify, $wrap) {
  display: $flex;
  justify-content: $justify;
  flex-wrap: $wrap;
}
@mixin flex-2($flex, $justify, $aling) {
  display: $flex;
  justify-content: $justify;
  align-items: $aling;
}
